/* ===== ===== ===== general ===== ===== ===== */
:root {
  --primary-color: #0096ee;
  --secondary-color: #f13c20;
  --bright-bg: #f9f7f4;
  --dark-bg: #2e282e;
  --dark-font: #333;
  --grey-font: #696969;
  --bright-font: #ffffff;
}

*{
  margin:0;
  padding:0;
}

body, html{
  background-color:var(--bright-bg);
  font-family:"Ubuntu";
  color: var(--dark-font);
}

.flex-row{
  display:flex;
  width:100%;
  justify-content: center;
}
.flex-vertical{
  flex-direction: column;
}

input{
  margin:0;
}

a{
  text-decoration:none;
  color:var(--dark-font);
  margin:0;
  padding:0;
}

h1{
  margin:10px 0 20px 0;
}

h2{
  font-size:1.25em;
  text-align:center;
  margin:0 0 20px 0;
}

.no_display{
  display:none !important;
}

#navbar{
  padding:10px;
  background-color:var(--primary-color);
  color:var(--bright-font);
  box-shadow: 0 0 20px 0px #444;
  background: linear-gradient(329deg, rgba(0,70,120,1) 0%, rgba(0,161,255,1) 100%);
}

#navbar h1{
  margin:0;
  font-size:2em;
  text-align:left;
  margin-left:20px;
}

.no_scroll{
  overflow:hidden;
}

/* ===== ===== ===== Dashboard ===== ===== ===== */

#dashboard{
  padding:25px;
  width:70%;
  margin:0 auto;
}

#rule_list{
  background-color:var(--bright-bg);
  overflow:hidden;
}

.column{
  display:flex;
  border-top:1px solid #CCC;
  cursor:pointer;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.column:nth-of-type(1){
  border-width:0;
  border-bottom:1.5px solid var(--dark-font)
}

/* column headers */
.table_header{
  color: var(--dark-font) !important;
  font-size:1.25em;
  font-weight:bold;
  border-width:0;
  cursor:default;
}

/* columns */
.column > p, .column > a{
  margin:10px 20px;
}

.column .rule_field_name{
  flex-grow:2;
  width:1px;
  font-weight:bold;
}

.column .rule_field_automations, .column .rule_field_integrations{
  flex-grow:1;
  width:1px;
  color: var(--grey-font);
}

/* ===== ===== ===== LoginPage ===== ===== ===== */
#login_wrapper_wrapper{
  border-radius:5px;
  width:430px;
  margin:50px auto;
  padding:30px;
  background-color: var(--dark-bg);
  box-shadow: 0 0 20px 0px #777;
  background: var(--primary-color);
  background: linear-gradient(329deg, rgba(0,70,120,1) 0%, rgba(0,161,255,1) 100%);
  overflow:hidden;
  display:flex;
  justify-content: space-between;
}

.login_box, .register_box{
  flex-grow:1;
  font-size:1.35em;
  border-radius: 8px 0 0 8px;
  border:1px solid #bbb;
  padding:10px 20px;
}

.register_box{
  border-radius:8px;
  margin:10px 0;
}

.login_box_submit, .register_box_submit{
  width:50px;
  border-radius: 0 8px 8px 0;
  border:none;
  background-color: var(--secondary-color);
  color: var(--bright-font);
  font-size:1.5em;
  padding:10px 20px;
}
.register_box_submit{
  border-radius:8px;
  margin:20px auto;
  width:100%;
}

.login_text{
  margin:0 auto 10px auto;
  font-size: 1.5em;
  color:var(--bright-font);
}



/* ===== ===== ===== Animations and shit ===== ===== ===== */
.hor_center{
  margin:0 auto;
}

.slide_out {
	animation-name: slide_out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.slide_in {
  animation-name: slide_in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slide_out {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100vw);
    height:0;
    width:0;
  }
}

@keyframes slide_in {
  0% {
    transform: translateX(+100vw);
    height:0;
    width:0;
  }
  100% {
    transform: translateX(0);
  }
}

/* ===== ===== ===== Loading Spinner ===== ===== ===== */
.lds-ellipsis {
  text-align:center;
  width:64px;
  height:64px;
  margin:0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
